<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if displayDoc %}
        <p>{{ doc }}</p>
    {% endif %}
    {% if data.foo is defined %}
    <p>{{ data.foo }}</p>
    {% endif %}
    <form method="post">
        <div>
            <input type="text">
        </div>
        <div>
            <button type="submit">envoyer</button>
        </div>
    </form>
</body>
</html>